#caibao {
  background: #fff;
  padding-bottom: 50px;
}
#caibao .banner {
  width: 100%;
  height: 144px;
}
#caibao .banner img {
  width: 100%;
  height: 100%;
}
#caibao .container .main {
  font-size: 0;
  margin-top: 30px;
}
#caibao .container .main .siderbar {
  width: 244px;
  font-size: 14px;
  display: inline-block;
}
#caibao .container .main .siderbar .type .title {
  border-bottom: 1px solid #9e9d9d;
  line-height: 36px;
  height: 36px;
  position: relative;
}
#caibao .container .main .siderbar .type .title > .iconfont {
  position: absolute;
  top: 0;
  right: 0;
  color: #9e9d9d;
}
#caibao .container .main .siderbar .type .items {
  overflow: hidden;
}
#caibao .container .main .siderbar .type .items .item {
  height: 44px;
  line-height: 44px;
  font-size: 12px;
  color: #9e9d9d;
  cursor: pointer;
  padding-left: 10px;
}
#caibao .container .main .siderbar .type .items .item:hover {
  background: #ffac13;
  color: #fff;
}
#caibao .container .main .content {
  vertical-align: top;
  width: 940px;
  font-size: 14px;
  display: inline-block;
  padding-left: 100px;
  box-sizing: border-box;
}
#caibao .container .main .content .sort {
  margin-top: 16px;
}
#caibao .container .main .content .sort .sort-item {
  margin-right: 20px;
}
#caibao .container .main .content .goods-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#caibao .container .main .content .goods-wrapper .goods {
  width: 33%;
  text-align: center;
}
#caibao .container .main .content .goods-wrapper .goods > a {
  display: block;
  text-decoration: none;
  color: #57563d;
}
#caibao .container .main .content .goods-wrapper .goods > a .goods-item .title {
  margin-top: 10px;
}
#caibao .container .main .content .goods-wrapper .goods > a .goods-item .price {
  margin-top: 10px;
}
